<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid mb-0 pb-3">
        <div class="container">
            <h1 class="display-3">Coding Articles</h1>
            <p class="lead">A coding article archive for saving favorite coding articles and videos.</p>
            <hr class="my-2">
            {{#each articles}}
            <div class="card">
                <div class="card-body pb-1">
                    <h4 class="card-title" style="display: inline;">{{this.title}}</h4>
                    <a href="/api/delete/1" style="float: right; color: red; font-weight: bold;">X</a>
                    <p class="author">Author: {{this.author}}</p>
                </div>
                <div class="card-body pt-0">
                    <p class="article-description">Description: {{this.body}}</p>
                    <a href={{this.url}} class="url" target="_blank">{{this.url}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>